:root{
  --color: #14286e;
}

body{
  font-family: 'Montserrat', sens-serif;
  height: 100%;
}

.chatBox{
  position: absolute;
  right: 1%;
  margin: auto;
  padding: 20px;
  padding-left: 0;
  width: 25%;
  bottom: 10%;
}

.contentBody {
  height: calc(100vh - calc(100vh / 2));
  overflow: auto;
}

.chatMy {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
  }
  
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatItemContentMy {
  background-color: var(--color);
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: auto;
}

.chatItemContentMy .chatDate {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.chatItemContentMy .chatDate span {
  font-size: 14px;
  color: rgb(197, 194, 194);
  user-select: none;
}

.chatGuest{
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: left;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
  }
  
  @keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatItemContentGuest {
  background-color: var(--color);
  color: white;
  padding: 15px;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
  min-width: auto;
}

.chatItemContentGuest .chatDate {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
  
.chatItemContentGuest .chatDate span {
  font-size: 14px;
  color: rgb(197, 194, 194);
  user-select: none;
}

.writeText{
  border:0.5px solid rgb(224, 224, 224);
  background-color: white;
  height: 4.05em;
  width: 100%;
  margin-top: auto;
  padding: 1em;
  box-shadow: inset 0 0 5px rgb(224, 224, 224)
}

.clickSend button{
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1em;
  position: absolute;
  right: 0;
  background-color: transparent;
  color: var(--color);
  margin-right: 8%;
  transform: translateY(-100%);
  cursor: pointer;
}

.clickChat button{
  background-color: transparent;
  border: 4px solid var(--color);
  border-radius: 2em;
  position: absolute;
  right: 0;
  background-color: var(--color);
  color: white;
  font-size:x-large;
  margin-right: 4%;
  cursor: pointer;
}

/*scroll*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(224, 224, 224); 
  border-radius: 10px;
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(199, 198, 198); 
  border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background: rgb(179, 176, 176); 
  border-radius: 10px;
}


svg.MuiSvgIcon-root{
  font-size: 1.5em;
  margin-top: 0.2em;
}

/*animacja kropek*/
.dots-cont{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
  
.dot{
  width: 2px;
  height: 2px;
  background: white;
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2.5px;
}
  
.dots-cont:hover > .dot {
  position: relative;
  bottom: 0px;
  animation-name: jump;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}
  
.dots-cont .dot-1{
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
  
.dots-cont .dot-2{
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
  
.dots-cont .dot-3{
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

@keyframes jump {
  from {bottom: 0px}
  to {bottom: 4px}
}

@-webkit-keyframes jump {
  from {bottom: 0px}
  to {bottom: 4px}
}