:root {
  --primary: #14286e;
  --white: #fff;
  --gray: #cdcdcd;
}

body {
  font-family: 'Montserrat', sens-serif;
  height: 100%;
}

.chatBox {
  position: absolute;
  right: 1%;
  margin: auto;
  padding: 20px;
  padding-left: 0;
  width: 25%;
  bottom: 10%;
}

button.CloseIcon {
  background: var(--primary);
  color: var(--white);
  border: var(--primary);
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.contentBody {
  height: calc(100vh - calc(100vh / 2));
  overflow: auto;
}

.chatMy {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
  
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatItemContentMy {
  background-color: var(--primary);
  color: var(--white);
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: auto;
}

.chatItemContentMy .chatDate {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.chatItemContentMy .chatDate span {
  font-size: 14px;
  color: var(--gray);
  user-select: none;
}

.chatGuest {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: left;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
  
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatItemContentGuest {
  background-color: var(--primary);
  color: var(--white);
  padding: 15px;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
  min-width: auto;
}

.chatItemContentGuest .chatDate {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
  
.chatItemContentGuest .chatDate span {
  font-size: 14px;
  color: var(--gray);
  user-select: none;
}

.writeText {
  border:0.5px solid var(--gray);
  background-color: var(--white);
  height: 4.05em;
  width: 100%;
  margin-top: auto;
  padding: 1em;
  box-shadow: inset 0 0 5px rgb(224, 224, 224)
}

.clickSend button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1em;
  position: absolute;
  right: 0;
  background-color: transparent;
  color: var(--primary);
  margin-right: 1.5rem;
  transform: translateY(-100%);
  cursor: pointer;
}

.clickChat button {
  background-color: transparent;
  border: 4px solid var(--primary);
  border-radius: 2em;
  position: absolute;
  right: 0;
  background-color: var(--primary);
  color: var(--white);
  font-size:x-large;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1em;
}

/*scroll*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(224, 224, 224); 
  border-radius: 10px;
  background: var(--white); 
}

::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: 10px;
}

svg.MuiSvgIcon-root {
  font-size: 1.5em;
  margin-top: 0.2em;
}

/*animacja kropek*/
.dots-cont {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
  
.dot {
  width: 4px;
  height: 4px;
  background: var(--white);
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2px;
}
  
.dots-cont:hover > .dot {
  position: relative;
  bottom: 0px;
  animation-name: changeColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
  
.dots-cont .dot-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
  
.dots-cont .dot-2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
  
.dots-cont .dot-3 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

@keyframes changeColor {
  0% {background-color: var(--white);}
  25% {background-color: var(--primary);}
  50% {background-color: var(--white);}
  75% {background-color: var(--primary);}
  100% {background-color: var(--white);}
}

@media screen and (max-width: 992px) {
  label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 600px) {
  label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated{
    font-size: 0.5em;
  }
}